.pCarrito {
    font-weight: bold;
    color: black;
    border-radius: 10px;
    background-image: linear-gradient(to left, red, yellow);
    font-size: 15px;
  }
  
  .divHeader {
    background-color: #1459ba;
    color: white;
    padding-top: 10px;
  
    font-weight: bold;
    font-size: 12px;
    border-radius: 4px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
  }

  ul#ulMenu li a {
    position: relative;
    font-weight: bold;
    color: #0E83CD;
    margin: 0px 1px;
    font: oblique bold 100% cursive;
  }
  ul#ulMenu li a:after {
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #FFD743;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);
  }
  ul#ulMenu li a:hover:after {
    opacity: 1;
    transform: translateY(15px);
  }
   